body {
  margin: 2em;
  font-family: Arial, sans-serif;
  background-color: #ededed;
}
form {
  width: 15%;
  border: 1px solid #000;
  border-radius: 2em;
  padding: 1em;
  input, 
  button {
    display: block;
    margin: 0.5em auto;
  }
}